.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main-H1 {
  position: static;
  text-align: center;
  color: olive;
}
.movieBox {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  width: fit-content;
  display: flex;
  direction: ltr;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
}
.divStyle {
  height: 320px;
  width: 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  width: fit-content;
}
.imgStyle {
  width: 1fr;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 2px solid;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}
.mainDivStyle {
  max-width: 100%;
  height: 200px;
  padding: 10px;
  display: flex;
  direction: column;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
